.img-view {
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 100%;
    z-index: 3;
    text-align: center;
}
.img-view-container.col-md-12 {
    padding: 0;
}
.img-view-fluid {
    width: 100%;
}
