div {
  margin: 0 !important;
}
a {
  color: rgba(0, 0, 0, 0.7);
}
a:hover {
  color: #000;
  text-decoration: none;
}
.header {
  padding: 1.5vw;
}
.indexMenu1 .col-md-3, .indexMenu2 .col-md-6  {
  color: #999;
  text-decoration: none;
  margin-top: 0.5vw;
}
.indexMenu1 .col-md-3:hover, .indexMenu2 .col-md-6:hover {
  color: #000;
}
.indexMenu .col-md-3.uploadBtn {
  margin-top: 0;
}
.slider {
  height: 30vw;
  /* border: 1px solid black; */
  background-image: url("../img/pexels-photo-289796.jpeg");
  background-size: 100%;
  background-attachment: fixed;
  opacity: 0.9;
}
.slider:hover {
  opacity: 1;
}
.trendingNew-container {
  margin: 4vw 8vw !important;
}
.trendingNew-imgCol {
  height: 100% !important;
}
.trendingNew-menu a {
  font-size: 1.3em;
  margin: 0 2vw;
}
.trendingNew-img img {
  margin: 1vw 0;
}
.footer {
  padding: 3vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
/* menu mobile */
.menuMobile {
  text-align: center;
  padding: 3vw;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  font-size: 6vw;
  display: none;
}
.menuMobile a {
  display: inline-block;
  width: 17%;
}
.usericon {
  padding: 0.1vw 0.8vw;
  padding-top: 0.5vw;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
a.col-md-6.text-center.usericon:hover {
  color: #fff;
}
.iconklik {
  z-index: 999;
  padding: 2.5vw;
  background-color: #fff;
  position: absolute;
  right: -1vw;
  top: 4vw;
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}
.iconklik p:hover {

}

@media only screen and (max-width: 768px) {
    .logotitle {
        text-align: center !important;
    }
    .menuMobile {
        display: block;
    }
    .indexMenu {
      display: none;
    }
}
