/* Header Desktop */
div {
  margin: 0 !important;
}
a {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header {
  padding: 1.5vw;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
.indexMenu1 .col-md-3, .indexMenu2 .col-md-6  {
  color: #999;
  text-decoration: none;
  margin-top: 0.5vw;
}
.indexMenu1 .col-md-3:hover, .indexMenu2 .col-md-6:hover {
  color: #000;
}
.indexMenu .col-md-3.uploadBtn {
  margin-top: 0;
}
/* menu mobile */
.menuMobile {
  text-align: center;
  padding: 3vw;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  font-size: 6vw;
  display: none;
}
.menuMobile a {
  display: inline-block;
  width: 17%;
}
/* .usericon {
  padding: 0.1vw 0.8vw;
  padding-top: 0.5vw;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
} */
a.col-md-6.text-center.usericon:hover {
  color: #fff;
}
.iconklik {
  z-index: 999;
  padding: 2.5vw;
  background-color: #fff;
  position: absolute;
  right: -1vw;
  top: 4vw;
  font-size: 1.1em;
  font-weight: 600;
  display: none;
}
.form-group-search {
  position: relative;
}
.search {
  width: 80%;
  display: inline-block;
  border-radius: 1.1vw;
  position: relative;
  z-index: 1;
}
.btn-fa-search  {
  position: absolute;
  border: 1px solid #ddd;
  background: #495057;
  outline: none;
  font-size: 1.42em;
  right: -0.7em;
  width: 7vw;
  text-align: right;
  border-radius: 1.1vw;
  cursor: pointer;
  color: #f9efeb;
}
.fa-search {
  margin-right: 0.6vw;
}
.searchindexmobile {
  display: none;
  position: fixed;
  bottom: 15vw;
  width: 90%;
  z-index: 1;
}
.searchindexmobile input.form-control.search {
  left: 5vw;
  width: 85%;
  height: 10vw;
  border-radius: 3vw;
}
.searchindexmobile button.btn-fa-search {
  width: 20%;
  height: 10vw;
  border-radius: 3vw;
  padding-right: 3vw;
}
.userprofiledivlogo {
  /* position: absolute; */
  width: 3vw;
}
.userprofiledivlogo img {
  border-radius: 50%;
  border: 1px solid rgba(216, 216, 216, 0.6);
}
.aftersearchindexmobilepadding {
  padding-top: 6vw;

}
@media only screen and (max-width: 768px) {
    .logotitle {
        text-align: center !important;
    }
    .menuMobile {
        display: block;
    }
    .indexMenu {
      display: none;
    }
    .searchindex {
      display: none;
    }
}
