.slider {
  height: 30vw;
  /* border: 1px solid black; */
  background-image: url("../img/pexels-photo-289796.jpeg");
  background-size: 100%;
  background-attachment: fixed;
  opacity: 0.9;
}
.slider:hover {
  opacity: 1;
}
.trendingNew-container {
  margin: 4vw 8vw !important;
}
.trendingNew-imgCol {
  height: 100% !important;
}
.trendingNew-menu a {
  font-size: 1.3em;
  margin: 0 2vw;
}
.trendingNew-img img {
  margin: 1vw 0;
}
.footer {
  padding: 3vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.errLog {
    position: absolute;
    background-color: rgba(243, 66, 66, 0.7);
    height: 25%;
    color: #000;
    text-align: center;
    width: 100%;
    line-height: 5;
    z-index: 1;
    cursor: pointer;
  }
.errLog p {
  line-height: 4;
  color: lavenderblush;
}
